.wrapper {
    max-width: 90%;
    margin: 0 auto;
}

.accordion {
    max-width: 80%;
}

.item-accordion {
    margin: 1rem 0;
}

.item-accordion__radio {
    display: none;
}

.item-accordion__text {
    display: flex;
    justify-content: space-between;
    border-top: 0.1rem solid grey;
}

.item-accordion__plus {
    width: 1rem;
}

.item-accordion__content {
    display: none;
}

.item-accordion__meme {
    width: 40%;
}

.item-accordion__radio:checked ~ .item-accordion__content {
    display: block;
}

.item-accordion__radio:checked ~ .item-accordion__text > .item-accordion__plus {
    transform: rotate(45deg);
}